
  <div class="w3layouts-main2">
    <h3>Register Now</h3>
    <small>
      <flash-messages></flash-messages>
    </small>
    <form [formGroup]="signUpForm" novalidate (ngSubmit)="save()">
      <div class="form-group" [ngClass]="{'has-error': displayeErrorMessage.firstName}" >
        <!-- <span class="icons i3"><i class="fa fa-user" aria-hidden="true"></i></span>-->
        <input placeholder="FIRST NAME" name="Name" type="text" formControlName="firstName" >
        <small class="help-block" id="errorname" *ngIf="displayeErrorMessage.firstName">
          <i>{{displayeErrorMessage.firstName}}</i>
        </small>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayeErrorMessage.secondName}">
        <!-- <span class="icons i3"><i class="fa fa-user" aria-hidden="true"></i></span>-->
        <input placeholder="SECOND NAME" name="SecondName" type="text" formControlName="secondName" >
        <small class="help-block"  *ngIf="displayeErrorMessage.secondName">
          <i> {{displayeErrorMessage.secondName}}</i>
        </small>
      </div>

      <div  class="form-group" [ngClass]="{'has-error': displayeErrorMessage.username}">
        <!-- <span class="icons i3"><i class="fa fa-user" aria-hidden="true"></i></span>-->
        <input placeholder="USER NAME" name="username" type="text" formControlName="username" >
        <small class="help-block" id="errorusername" *ngIf="displayeErrorMessage.username">
          <i>{{displayeErrorMessage.username}}</i>
        </small>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayeErrorMessage.email}">
        <input placeholder="E-MAIL" name="Email" type="email" formControlName="email">
        <!--<span class="icons i4"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>-->
        <small class="help-block" id="erroremail" *ngIf="displayeErrorMessage.email">
          <i>{{displayeErrorMessage.email}}</i>
        </small>
      </div>

      <div formGroupName="passwordMatch">
        <div class="form-group" [ngClass]="{'has-error': displayeErrorMessage.password}">
          <input placeholder="PASSWORD" name="Password" type="password" formControlName="password">
          <!--<span class="icons i5"><i class="fa fa-key" aria-hidden="true"></i></span>-->
          <small class="help-block" id="errorpassword" *ngIf="displayeErrorMessage.password">
            <i>{{displayeErrorMessage.password}}</i>
          </small>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayeErrorMessage.confirmPassword}">
          <input placeholder="CONFIRM PASSWORD" name="ConfirmPassword" type="password" formControlName="confirmPassword">
          <!--<span class="icons i6"><i class="fa fa-key" aria-hidden="true"></i></span>-->
          <small class="help-block" id="errorcpassword1" *ngIf="displayeErrorMessage.confirmPassword">
            <i>{{displayeErrorMessage.confirmPassword}}</i>
          </small>
        </div>
      </div>


      <input type="submit" value="Register" name="register">
    </form>
  </div>
  <div class="clear"></div>

<!-- Auto show Modal -->

<!--<button type="button" class="btn btn-primary" (click)="showModal()">Render auto-shown modal</button>-->
<div *ngIf="showModal" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id ="verifModel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--<div class="spinner" *ngIf="!data.success">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>-->

    </div>
  </div>
</div>
</div>

