
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
  <div class="container">
    <div class="inner-agile-w3l-part-head">
      <h2 class="w3l-inner-h-title">About Us </h2>
    </div>
    <div class="ab-w3l-spa">
      <div class="home">
     <!-- <img src="images/ab.jpg" alt="" class="img-responsive" /> -->
      <h3>Our motivation is </h3>
    </div>
  </div></div>
  <div class="team-section">
  <div class="spa-agile">
    <h3 class="tittle fea">Our Team </h3>
    <div class="col-md-4 spa-grid">
      <h4><b>Rimeh WAILI  </b></h4> </div>
    <div class="col-md-4 spa-grid">

      <h4>Wissem BEN CHAABEN </h4>


    </div>
    <div class="col-md-4 spa-grid lost">


      <h4>Nour el Houda BOUZOUITA</h4>

    </div>
    <div class="clearfix"> </div>
  </div>
  </div>


<!--//content-inner-section-->

<!-- Footer
<div class="w3l-footer">
  <div class="container">
    <div class="footer-info-agile">
      <div class="col-md-4 footer-info-grid links">
        <h4>Quick links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Templates </a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-info-grid address">
        <h4>Address</h4>
        <address>
          <ul>

          </ul>
        </address>
      </div>

      <div class="col-md-4 footer-info-grid">
        <div class="connect-social">
          <h4>Connect with us</h4>
          <section class="social">
            <ul>
              <li><a class="icon fb" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="icon tw" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="icon pin" href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a class="icon db" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="icon gp" href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </section>

        </div>



      </div>

    </div>

  </div>
</div>
</div>

-->
</div>





