
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
  <div class="container">
    <div class="inner-agile-w3l-part-head">
      <h2>About Us </h2>
    </div>
    <div class="ab-w3l-spa">
      <div class="home">
     <!--  -->
      <h3 style="color: whitesmoke">Our motivation: </h3>
    </div>
  </div></div>
  <div class="team-section">
  <div class="spa-agile">
    <h3 class="tittle fea">Our Team </h3>
    <div class="col-md-4 spa-grid">
      <h4><b>Rimeh WAILI  </b></h4> </div>
    <div class="col-md-4 spa-grid">
      <h4>Wissem BEN CHAABEN </h4>
      <img src="../../assets/images/wissem.jpg" alt="wissem" class="img-responsive img-circle" style="height: 30%; width: 40% ; margin-left: 30%" />



    </div>
    <div class="col-md-4 spa-grid lost">


      <h4>Nour el Houda BOUZOUITA</h4>

    </div>
    <div class="clearfix"> </div>
  </div>
  </div>


</div>





