<div class="panel panel-default">
  <div class="panel-body">
    <div class="w3layouts-main">
      <h2>Leisure  </h2>
      <form (ngSubmit)="save($event)" [formGroup]="leisureForm" >
        <input type="text" placeholder=" " id="skillid1" formControlName="leisure">
        <input type="submit" value="Save" name="">
      </form>
      <a  [routerLink] ="['/dashboard', {outlets : {routerCV :['skill']}}]">Previous</a>
      <a [routerLink] ="['/dashboard', {outlets : {routerCV :['language']}}]">Next</a>

    </div>
  </div>

</div>
