<div class="container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but1"><img src="../../assets/images/templates/template1.png" class="img-responsive" id="temp1 "></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but2"><img src="../../assets/images/templates/template2.png" class="img-responsive" id="temp2"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but3"><img src="../../assets/images/templates/template3.png" class="img-responsive" id="temp3"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but4"><img src="../../assets/images/templates/tempate4.PNG" class="img-responsive" id="temp4"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but5"><img src="../../assets/images/templates/template5.PNG" class="img-responsive" id="temp5"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but6"><img src="../../assets/images/templates/template6.PNG" class="img-responsive" id="temp6"></button>
    </div>

  </div>
</div>


<common-modal  #childModal>
  <div class="modal-body">
    <img src="{{value}}" id="imgViewer">
  </div>
</common-modal>
