<div class="container" id="container" xmlns="http://www.w3.org/1999/html">
<div class="home2">


  <h2><font color="#ffe4c4"> Get the most impressive resume  on the market today</font></h2>\

  <br><br><br>

  <div class="row">
    <div class="col-md-2">
    <button (click)="Onclick($event)" id="but1"><img src="../../assets/images/templates/template8.PNG" class="img-responsive" id="temp1 "></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but2"><img src="../../assets/images/templates/template2.png" class="img-responsive" id="temp2"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but3"><img src="../../assets/images/templates/template3.png" class="img-responsive" id="temp3"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but4"><img src="../../assets/images/templates/tempate4.PNG" class="img-responsive" id="temp4"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but5"><img src="../../assets/images/templates/template5.PNG" class="img-responsive" id="temp5"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but6"><img src="../../assets/images/templates/template6.PNG" class="img-responsive" id="temp6"></button>
    </div>
  </div>
    <div class="row">
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but11"><img src="../../assets/images/templates/template1.png" class="img-responsive" id="temp11 "></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but22"><img src="../../assets/images/templates/template2.png" class="img-responsive" id="temp22"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but33"><img src="../../assets/images/templates/template3.png" class="img-responsive" id="temp33"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but44"><img src="../../assets/images/templates/tempate4.PNG" class="img-responsive" id="temp44"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but55"><img src="../../assets/images/templates/template5.PNG" class="img-responsive" id="temp55"></button>
    </div>
      <div class="col-md-2">
      <button (click)="Onclick($event)" id="but66"><img src="../../assets/images/templates/template6.PNG" class="img-responsive" id="temp66"></button>
    </div>
  </div>
</div>

<common-modal  #childModal>
  <div class="modal-body">
    <img src="{{value}}" id="imgViewer">
  </div>
</common-modal>




<!-- //welcome


<div class="w3_content_agilleinfo_inner">
  <div class="container">
    <h3 class="w3l-inner-h-title">GREAT GRAPHIC DESIGN THAT FITS ALL THE HR STANDARDS</h3>
    <div class="priceing-table-main">
      <div class="col-md-3 price-grid">
        <div class="price-block agile">
          <div class="price-gd-top pric-clr1">
          </div>
          <div class="price-gd-bottom">
            <div class="price-list">
              <ul>
              </ul>
            </div>
            <div class="price-selet pric-sclr1">
              <div class="col-md-2">
                <button (click)="Onclick($event)" id="but7"><img src="../../assets/images/templates/template8.PNG"  maxlength="400px" width="200px" id="temp7 "></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 price-grid ">
        <div class="price-block agile">
          <div class="price-gd-top pric-clr2">

          </div>
          <div class="price-gd-bottom">
            <div class="price-list">
              <ul>

              </ul>
            </div>
            <div class="price-selet pric-sclr2">


            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 price-grid lost">
        <div class="price-block agile">
          <div class="price-gd-top pric-clr3">

          </div>
          <div class="price-gd-bottom">
            <div class="price-list">
              <ul>

              </ul>
            </div>
            <div class="price-selet pric-sclr3">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 price-grid wthree lost">
        <div class="price-block agile">
          <div class="price-gd-top pric-clr4">

          </div>
          <div class="price-gd-bottom">
            <div class="price-list">
              <ul>
              </ul>
            </div>
            <div class="price-selet pric-sclr4">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- Modal1 -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header book-form">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Sign up Form</h4>
        <form action="#" method="post">
          <input type="text" name="Name" placeholder="Your Name" required=""/>
          <input type="text" name="Email" class="email" placeholder="Email" required=""/>
          <input type="password" name="Password" class="password" placeholder="Password" required=""/>
          <div class="check-box">
            <input name="chekbox" type="checkbox" id="brand" value="">
            <label for="brand"><span></span>Remember Me.</label>
          </div>
          <input type="submit" value="Sign Up">
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!--/banner-ingo-->
