<div class="container" id="container">
  <div class="row">
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but1"><img src="../../assets/images/templates/template1.png" class="img-responsive" id="temp1 "></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but2"><img src="../../assets/images/templates/template2.png" class="img-responsive" id="temp2"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but3"><img src="../../assets/images/templates/template3.png" class="img-responsive" id="temp3"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but4"><img src="../../assets/images/templates/tempate4.PNG" class="img-responsive" id="temp4"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but5"><img src="../../assets/images/templates/template5.PNG" class="img-responsive" id="temp5"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but6"><img src="../../assets/images/templates/template6.PNG" class="img-responsive" id="temp6"></button>
    </div>
  </div>
    <div class="row">
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but11"><img src="../../assets/images/templates/template1.png" class="img-responsive" id="temp11 "></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but22"><img src="../../assets/images/templates/template2.png" class="img-responsive" id="temp22"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but33"><img src="../../assets/images/templates/template3.png" class="img-responsive" id="temp33"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but44"><img src="../../assets/images/templates/tempate4.PNG" class="img-responsive" id="temp44"></button>
    </div>
    <div class="col-md-2">
      <button (click)="Onclick($event)" id="but55"><img src="../../assets/images/templates/template5.PNG" class="img-responsive" id="temp55"></button>
    </div>
      <div class="col-md-2">
      <button (click)="Onclick($event)" id="but66"><img src="../../assets/images/templates/template6.PNG" class="img-responsive" id="temp66"></button>
    </div>
  </div>
</div>

<common-modal  #childModal>
  <div class="modal-body">
    <img src="{{value}}" id="imgViewer">
  </div>
</common-modal>
