<div id="cv" class="instaFade" *ngIf="user">
  <div class="mainDetails" *ngIf="user.cv.infos">
    <div id="headshot" class="quickFade">
      <img *ngIf="user.cv.infos.photo" src="{{user.cv.infos.photo}}" alt="{{user.username}}" />
    </div>

    <div id="name" *ngIf="user.firstName && user.secondName">
      <h2 class="quickFade delayThree">Curriculum Vitao</h2>
      <h1 class="quickFade delayTwo">{{user.secondName}} {{user.firstName}}</h1>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <ul> Email : <li *ngFor="let cont of user.cv.infos.contact">{{cont.email}}</li></ul>
        <ul> Phone : <li *ngFor="let cont of user.cv.infos.contact">{{cont.phone}}</li></ul>
        <li *ngIf="user.cv.infos.webSite">WebSite: <a href="{{user.cv.infos.webSite}}">{{user.cv.infos.webSite}}</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">

    <section *ngIf="user.cv.infos">
      <article *ngIf="user.cv.infos.description">
        <div class="sectionTitle">
          <h1>Personal Profile</h1>
        </div>
        <div class="sectionContent">
          <p>{{user.cv.infos.description}}.</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>

    <section *ngIf="user.cv.experiences">
      <div class="sectionTitle" *ngIf="user.cv.experiences.length">
        <h1>Work Experience</h1>
      </div>
      <div class="sectionContent">
        <article *ngFor="let exp of user.cv.experiences">
          <h2>{{exp.post}} in {{exp.entreprise}}<span><img src="{{exp.logo}}" class="img-responsive"></span></h2>
          <p class="subDetails">{{exp.startDate}} - {{exp.finishDate}}</p>
          <p>{{exp.description}}</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="user.cv.skills">
      <div class="sectionTitle" *ngIf="user.cv.skills.length">
        <h1>Skills</h1>
      </div>
      <div class="sectionContent" *ngFor="let skill of user.cv.skills">
        <h4>{{skill.domain}}</h4>
        <ul class="keySkills">
          <li *ngFor="let dom of skill.skills">{{dom.skill}}<span><rating [(ngModel)]="dom.starRate" [max]="max" [readonly]="isReadonly"></rating></span></li>
        </ul>

      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="user.cv.educations">
      <div class="sectionTitle" *ngIf="user.cv.educations.length">
        <h1>Education</h1>
      </div>
      <div class="sectionContent" *ngFor="let ed of education">
        <article>
          <h2>{{ed.title}}</h2>
          <h3>{{ed.establishment}}</h3>
          <p class="subDetails">{{ed.startDate}} - {{ed.finishDate}}</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="user.cv.language">
      <div class="sectionTitle" *ngIf="user.cv.language.length">
        <h1>Languages</h1>
      </div>
      <div class="sectionContent">
        <ul class="keySkills">
          <li *ngFor="let lang of user.cv.language">{{lang.language}}<span><rating [(ngModel)]="lang.starRate" [max]="max" [readonly]="isReadonly"></rating></span></li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="user.cv.leisure">
      <div class="sectionTitle" *ngIf="user.cv.leisure.length">
        <h1>Leisures</h1>
      </div>
      <div class="sectionContent">
        <ul class="keySkills">
          <li *ngFor="let l of user.cv.leisure">{{l.leisure}}</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
