<div id="cv" class="instaFade">
  <div class="mainDetails" *ngIf=" user && infos">
    <div id="headshot" class="quickFade">
      <img *ngIf="infos.photo" src="{{infos.photo}}" alt="{{user.username}}" />
    </div>

    <div id="name" *ngIf="user.firstName && user.secondName">
      <h2 class="quickFade delayThree">Curriculum Vitao</h2>
      <h1 class="quickFade delayTwo">{{user.secondName}} {{user.firstName}}</h1>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li *ngIf="user.email">Email: <a href="{{user.email}}" target="_blank">{{user.email}}</a></li>
        <li *ngIf="infos.webSite">WebSite: <a href="{{infos.webSite}}">{{infos.webSite}}</a></li>
        <li *ngFor="let phone of infos.phoneNumbers"><ul>Phone : <li>{{phone.phone}}</li></ul>  </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">

    <section *ngIf="infos">
      <article *ngIf="infos.description">
        <div class="sectionTitle">
          <h1>Personal Profile</h1>
        </div>
        <div class="sectionContent">
          <p>{{infos.description}}.</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>

    <section *ngIf="experience">
      <div class="sectionTitle" *ngIf="experience.length">
        <h1>Work Experience</h1>
      </div>
      <div class="sectionContent">
        <article *ngFor="let exp of experience">
          <h2>{{exp.post}} in {{exp.entreprise}}<span><img src="{{exp.logo}}" class="img-responsive"></span></h2>
          <p class="subDetails">{{exp.startDate}} - {{exp.finishDate}}</p>
          <p>{{exp.description}}</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="skills">
      <div class="sectionTitle" *ngIf="skills.length">
        <h1>Skills</h1>
      </div>
      <div class="sectionContent" *ngFor="let skill of skills">
        <h4>{{skill.domain}}</h4>
        <ul class="keySkills" *ngFor="let dom of skill.skills">
          <li>{{dom.skill}}<span><rating [(ngModel)]="dom.starRate" [max]="max" [readonly]="isReadonly"></rating></span></li>
        </ul>

      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="education">
      <div class="sectionTitle" *ngIf="education.length">
        <h1>Education</h1>
      </div>
      <div class="sectionContent" *ngFor="let ed of education">
        <article>
          <h2>{{ed.title}}</h2>
          <h3>{{ed.establishment}}</h3>
          <p class="subDetails">{{ed.startDate}} - {{ed.finishDate}}</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="languages">
      <div class="sectionTitle" *ngIf="languages.length">
        <h1>Languages</h1>
      </div>
      <div class="sectionContent" *ngFor="let lang of languages">
        <ul class="keySkills">
          <li>{{lang.language}}<span><rating [(ngModel)]="lang.starRate" [max]="max" [readonly]="isReadonly"></rating></span></li>
        </ul>

      </div>
      <div class="clear"></div>
    </section>

    <section *ngIf="leisures">
      <div class="sectionTitle" *ngIf="leisures.length">
        <h1>Leisures</h1>
      </div>
      <div class="sectionContent" *ngFor="let l of leisures">
        <ul class="keySkills">
          <li>{{l.leisure}}</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>
