<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">

    <!--  Content here -->
    <div class="panel-body">
      <div class="w3layouts-main">
        <h2>Personal Skills </h2>
        <form (ngSubmit)="save()" [formGroup]="skillForm" >
          <div style="display: inline-block">
            <input type="text" placeholder="Domain" id="domain"  formControlName="domain"><button type="button" class="btn btn-primary" (click)="addSkill()">add</button>
          </div>
          <div formArrayName="skills"  *ngFor="let skill of skills.controls;let i=index">
            <div [formGroupName]="i">
              <input type="text" placeholder="Skill " id="{{'skillid'+i}}" formControlName="skill">
              <!--<app-rating formControlName="rating"></app-rating>-->
              <input type="text"  placeholder="description" id="{{'skilldescriptionid'+i}}" formControlName="description">
            </div>
          </div>
          <input type="submit" value="Save" name="save">
        </form>
        <a  [routerLink] ="['/dashboard', {outlets : {routerCV :['experience']}}]">Previous</a>
        <a [routerLink] ="['/dashboard', {outlets : {routerCV :['leisure']}}]">Next</a>
      </div>


  </div>
</div>

