<div class="panel panel-default">
  <div class="panel-body">

    <!--  Content here -->
    <div class="panel-body">
      <div class="w3layouts-main">
        <h2>Personal Skills </h2>
        <form (ngSubmit)="save()" [formGroup]="skillForm" >
          <div class="row">
            <div class="col-md-4">
              <input type="text" placeholder="Skill " id="skillid1" required="" formControlName="skill">
            </div>
            <!--<div class="col-md-4">
              <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                      (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                      [titles]="['one','two','three']"></rating>
            </div>-->
          </div>

          <input type="text"  placeholder="description" id="skilldescriptionid" required="" formControlName="description">


          <input type="submit" value="Save" name=""><input type="submit" value="Add more" name="">

          <a  [routerLink] ="['/dashboard', {outlets : {routerCV :['experience']}}]"><input type="submit" value="Previous" name="login"></a>

          <a [routerLink] ="['/dashboard', {outlets : {routerCV :['leisure']}}]"><input type="submit" value="Next" name="login"></a>

        </form>
      </div>







  </div>
</div>



































  <div class="panel-footer">

    <a class=" btn btn-primary">Precedent</a>
    <a class="btn btn-primary"> Next</a>

  </div>
