<div class="panel panel-default">
  <div class="panel-body">
    <div class="w3layouts-main">
      <h2>Personal Profile  </h2>
    <form  [formGroup]="informationForm" (ngSubmit)="save()">

      <input type="text" placeholder="Url photo" id="nameid" formControlName="photo">
      <input type="text" placeholder="Birth Date" id="lastnameid" formControlName="birthDate" >
      <div class="row">
        <div formArrayName="phoneNumbers" class="col-md-8"
             *ngFor="let phoneNumber of phoneNumbers.controls; let i=index ">
          <div [formGroupName]="i">
            <input type="text" placeholder="Phone number" id="{{'phone'+i}}" formControlName="phone">
          </div>
        </div>
        <!--<div class="col-md-2">
          <button class="btn btn-default" type="button" (click)="addPhoneNumber()"><i class="fa fa-plus-square"></i></button>
        </div>-->
      </div>

      <input type="text"   placeholder="Skype" id="emailid" formControlName="skype">
      <input type="text"  placeholder="Country" id="paysid" formControlName="country">
      <input type="text"   placeholder="Website" id="webid" formControlName="webSite">
      <textarea placeholder="Describe your self " id="description "></textarea>

      <input type="submit" value="Next" name="next">

    </form>
    </div>

  </div>

</div>


<!--

<div class="form-group">
        <label for="nameid">Name:</label>
        <input type="text" class="form-control" id="nameid" >
      </div>
      <div class="form-group">
        <label for="lastnameid">Last Name:</label>
        <input type="password" class="form-control" id="lastnameid" >
      </div>
      <div class="form-group">
        <label for="paysid">pays:</label>
        <input type="text" class="form-control" id="paysid">
      </div>

      <div class="form-group">
        <label for="phoneid">phone:</label>
        <input type="password" class="form-control" id="phoneid">
      </div>

      <div class="form-group">
        <label for="zipid">Zip code</label>
        <input type="password" class="form-control" id="zipid" >
      </div>

-->
