
<div class="w3layouts-main">
  <h2>Login Now</h2>
  <flash-messages></flash-messages>
  <form  (ngSubmit)="login()" [formGroup]="loginForm">
    <input placeholder="USERNAME" name="username" type="text" required="" formControlName="username">
    <!--<span class="icons i1" style="margin-left: 21%; margin-top: 2%"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>-->
    <input placeholder="PASSWORD" name="Password" type="password" required="" formControlName="password">
   <!-- <span class="icons i2" style="margin-left: 21%; margin-top: 2.2%"><i class="fa fa-key" aria-hidden="true"></i></span>-->
    <input type="submit" value="Login" name="login">
  </form>
  <h6><a [routerLink]="['/signup']">REGISTER NEW ACCOUNT</a></h6>
  <h3>(or)</h3>
  <div class="social_icons agileinfo">
    <ul class="top-links">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</div>





