
@import "../../../Styles/css/style.css";

a {
  cursor: pointer;
}





/*--responsive--*/

@media(max-width: 1680px){

}
@media(max-width: 1440px){
  .main-w3l {
    width: 65%;
    left: 19%;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 81%;
  }
}
@media(max-width: 1366px){
  .main-w3l {
    width: 68%;
    left: 17%;
  }
  h1.logo-w3 {
    font-size: 2.9em;
    margin-bottom: 5%;
  }
  span.icons.i1, .icons.i3 {
    top: 31%;
  }
  span.icons.i2, .icons.i4 {
    top: 42%;
  }
  span.icons.i5 {
    top: 52.5%;
  }
  span.icons.i6 {
    top: 63.5%;
  }
}
@media(max-width: 1280px){
  h1.logo-w3 {
    font-size: 2.8em;
  }
  .main-w3l {
    width: 71%;
    left: 15%;
  }
  .footer-w3l p {
    margin: 4.5em 0em 0em;
  }
}
@media(max-width: 1080px){
  h1.logo-w3 {
    font-size: 2.7em;
    margin-bottom: 4.5%;
    letter-spacing: 3px;
  }
  .main-w3l {
    top: 4%;
    width: 81%;
    left: 9.5%;
  }
  canvas#myCanvas {
    height: 732px;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 27px;
  }
  .w3layouts-main {
    padding: 35px 35px 25px;
  }
  .w3layouts-main2 {
    padding: 35px 35px 6px;
  }
  span.icons.i1, .icons.i3 {
    top: 29.5%;
  }
  span.icons.i2, .icons.i4 {
    top: 40.8%;
  }
  span.icons.i5 {
    top: 52%;
  }
  span.icons.i6 {
    top: 63%;
  }
}
@media(max-width: 1050px){
  .main-w3l {
    width: 85%;
    left: 7.5%;
  }
}
@media(max-width: 1024px){
  h1.logo-w3 {
    font-size: 2.6em;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 26px;
  }
  .footer-w3l p {
    margin: 5em 0em 0em;
  }
}
@media(max-width: 991px){
  h1.logo-w3 {
    font-size: 2.5em;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 25px;
  }
  .main-w3l {
    width: 87%;
    left: 7%;
  }
}
@media(max-width: 900px){

}
@media(max-width: 800px){
  .main-w3l {
    width: 91%;
    left: 4.5%;
  }
  h1.logo-w3 {
    font-size: 2.4em;
    letter-spacing: 2px;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 14px 50px 14px 14px;
    margin: 13px 0px;
    width: 76%;
  }
  .w3layouts-main {
    padding: 30px 30px 20px;
  }
  .w3layouts-main2 {
    padding: 30px 30px 2px;
  }
  input[type="submit"] {
    font-size: 1em;
    width: 39%;
  }
  ul.top-links li a i.fa {
    height: 34px;
    line-height: 36px;
  }
  .w3layouts-main2 input[type="submit"] {
    margin: 27px auto 28px;
  }
  canvas#myCanvas {
    height: 666px;
  }
  .footer-w3l p {
    margin: 4em 0em 0em;
  }
  span.icons.i1, .icons.i3 {
    top: 28.5%;
  }
  span.icons.i2, .icons.i4 {
    top: 40%;
  }
  span.icons.i5 {
    top: 51.5%;
  }
  span.icons.i6 {
    top: 63.5%;
  }
  .i3, .i4, .i5, .i6 {
    left: 91%;
  }
}
@media(max-width: 768px){
  .main-w3l {
    top: 8%;
  }
  h1.logo-w3 {
    margin-bottom: 9.5%;
  }
  .footer-w3l p {
    margin: 8em 0em 0em;
  }
  span.icons.i1, .icons.i3 {
    top: 29.5%;
  }
  span.icons.i2, .icons.i4 {
    top: 39.5%;
  }
  span.icons.i5 {
    top: 49.5%;
  }
  span.icons.i6 {
    top: 59.5%;
  }
  canvas#myCanvas {
    height: 885px;
  }
}
@media(max-width: 736px){
  .main-w3l {
    top: 3%;
  }
  h1.logo-w3 {
    margin-bottom: 5.5%;
    font-size: 2.3em;
  }
  .main-w3l {
    width: 92%;
    left: 4%;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 24px;
  }
  .w3layouts-main2 input[type="submit"] {
    margin: 28px auto 31px;
  }
  .footer-w3l p {
    margin: 4em 0em 0em;
  }
  canvas#myCanvas {
    height: 666px;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    padding: 13px 50px 13px 13px;
    width: 75%;
  }
  span.icons.i1, .icons.i3 {
    top: 28.8%;
  }
  span.icons.i2, .icons.i4 {
    top: 40%;
  }
  span.icons.i5 {
    top: 51.4%;
  }
  span.icons.i6 {
    top: 62.5%;
  }
  .i3, .i4, .i5, .i6 {
    left: 90.5%;
  }
}
@media(max-width: 667px){
  .w3layouts-main {
    float: left;
    width: 85%;
  }
  .w3layouts-main2 {
    float: left;
    width: 85%;
    margin-top: 2em;
  }
  .main-w3l {
    width: 67%;
    left: 18%;
  }
  .footer-w3l p {
    margin: 3em 0em 0em;
    letter-spacing: 1px;
    line-height: 1.9em;
  }
  h1.logo-w3 {
    margin-bottom: 6%;
    font-size: 2em;
    letter-spacing: 1px;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 23px;
  }
  span.icons.i1 {
    top: 14%;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
  }
  .i1, .i2, .i3, .i4, .i5, .i6 {
    left: 82.5%;
  }
  span.icons.i2{
    top: 21%;
  }
  .icons.i3 {
    top: 59%;
  }
  .icons.i4 {
    top: 65%;
  }
  span.icons.i5 {
    top: 71%;
  }
  span.icons.i6 {
    top: 77%;
  }
  canvas#myCanvas {
    height: 1166px;
  }
  .main-w3l {
    top: 2%;
  }
}
@media(max-width: 640px){
  .main-w3l {
    width: 70%;
    left: 17%;
  }
  canvas#myCanvas {
    height: 1127px;
  }
  .footer-w3l p {
    margin: 3em 0em 1.5em;
  }
  span.icons.i2 {
    top: 20%;
  }
  .icons.i3 {
    top: 56%;
  }
  .icons.i3 {
    top: 57.5%;
  }
  .icons.i4 {
    top: 63.5%;
  }
  span.icons.i5 {
    top: 70%;
  }
  span.icons.i6 {
    top: 76%;
  }
}
@media(max-width: 600px){
  .main-w3l {
    width: 74%;
    left: 14%;
  }
}
@media(max-width: 568px){
  .main-w3l {
    width: 79%;
    left: 11%;
  }
}
@media(max-width: 480px){
  h1.logo-w3 {
    font-size: 1.8em;
  }
  .main-w3l {
    width: 85%;
    left: 8%;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 20px;
    letter-spacing: 1px;
  }
  input[type="submit"] {
    font-size: 0.95em;
  }
  span.icons.i1 {
    top: 13.5%;
  }
  span.icons.i2 {
    top: 19.5%;
  }
  .icons.i3 {
    top: 57%;
  }
  .icons.i4 {
    top: 63%;
  }
  span.icons.i5 {
    top: 69.5%;
  }
  span.icons.i6 {
    top: 75.5%;
  }
  .i1, .i2, .i3, .i4, .i5, .i6 {
    left: 83%;
  }
  .w3layouts-main {
    width: 84%;
  }
  .w3layouts-main2 {
    width: 84%;
  }
}
@media(max-width: 414px){
  h1.logo-w3 {
    font-size: 1.75em;
    line-height: 1.4;
  }
  .w3layouts-main {
    width: 81%;
  }
  .w3layouts-main2 {
    width: 81%;
  }
  .main-w3l {
    top: 1.5%;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 76%;
  }
  .w3layouts-main h6 {
    font-size: 15px;
  }
  ul.top-links li a i.fa {
    height: 32px;
    line-height: 34px;
    width: 32px;
    font-size: 14px;
  }
  input[type="button"] {
    font-size: 0.85em;
    letter-spacing: 0px;
  }
  .footer-w3l p {
    font-size: 14px;
  }
  .i1, .i2, .i3, .i4, .i5, .i6 {
    left: 81%;
  }
  span.icons.i1 {
    top: 16.7%;
  }
  span.icons.i2 {
    top: 22.7%;
  }
  .icons.i3 {
    top: 58.5%;
  }
  .icons.i4 {
    top: 64.7%;
  }
  span.icons.i5 {
    top: 70.7%;
  }
  span.icons.i6 {
    top: 76.7%;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    letter-spacing: 0px;
  }
  .main-w3l {
    width: 90%;
    left: 6%;
  }
}
@media(max-width: 384px){
  input[type="text"], input[type="email"], input[type="password"] {
    width: 74%;
  }
}
@media(max-width: 375px){
  h1.logo-w3 {
    font-size: 1.7em;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 73%;
  }
  .i1, .i2, .i3, .i4, .i5, .i6 {
    left: 80%;
  }
}
@media(max-width: 320px){
  h1.logo-w3 {
    font-size: 1.55em;
  }
  .w3layouts-main h2, .w3layouts-main2 h3 {
    font-size: 19px;
    letter-spacing: 0px;
  }
  .main-w3l {
    width: 92%;
    left: 4.5%;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 77%;
    padding: 11px 35px 11px 11px;
    margin: 11px 0px;
  }
  .w3layouts-main {
    padding: 22px 20px 19px;
  }
  .w3layouts-main {
    width: 84%;
  }
  input[type="button"] {
    font-size: 0.8em;
    width: 48%;
    margin: 17px auto;
  }
  .w3layouts-main h6 {
    font-size: 14px;
    margin-top: 0px;
  }
  input[type="button"] {
    width: 46%;
    margin: 20px auto;
  }
  ul.top-links li a i.fa {
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 14px;
  }
  .w3layouts-main2 {
    margin-top: 1.5em;
  }
  .w3layouts-main2 {
    width: 84%;
    padding: 22px 20px 2px;
  }
  .w3layouts-main2 input[type="button"] {
    margin: 18px auto 20px;
  }
  .footer-w3l p {
    font-size: 13px;
    margin: 2em 0em 1.5em;
  }
  canvas#myCanvas {
    height: 993px;
  }
  span.icons.i1 {
    top: 16.5%;
  }
  span.icons.i2 {
    top: 22.8%;
  }
  .icons.i3 {
    top: 59%;
  }
  .icons.i4 {
    top: 65.3%;
  }
  span.icons.i5 {
    top: 71.5%;
  }
  span.icons.i6 {
    top: 78%;
  }
}
/*--//responsive--*/
.modal {
  max-height: 420px;
  overflow-y: auto;
}

